body {
  background: Linen;
  margin-top: 50px;
  margin-left: 100px;
  }
 
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: FireBrick;
  }
 
p {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: DarkSlateGray;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    overflow-y:scroll;
    height:100px;
    display:block;
  }

  th, td {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }