@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* border: green 1px solid; */
}
body{
  background: #000000;
}
h1{
  font-size: min(5vh,8vw);
}
h2{
  font-size: min(3vh,6vw);
}
.main {
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.banner button,input{
  width: 10rem;
  color: #000000;
  font-weight: 900;
}

.banner button{
  height: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

form .field{
  width: 20rem;
  
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}


  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    overflow: auto;
    height: 100px;
    display:block;
  }

  th, td {
    padding: 0.5em;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #000000;
  }

  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .banner{
      /* width: 50%; */
      width: 80vw;
      /* background-color: aqua; */
      font-size: min(2vh,4vw);
    }
    form .field{
      width: 80vw;
      font-size: min(2vh, 5vw);
    }
  }